.u-section-1 .u-sheet-1 {
  min-height: 151px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 788px;
}

.u-section-2 .u-list-1 {
  width: 611px;
  margin: 10px auto 20px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 12px 12px;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  min-height: 732px;
  grid-auto-columns: calc(50% - 6px);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 295px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/12797784-0.jpeg");
  width: 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  min-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 295px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/12797784-01.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  min-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  min-height: 295px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/12797784-02.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-group-6 {
  min-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  min-height: 295px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/55f69b4b3de0ad8f900de5e6d224cc931d9067e8670ea6fe32e636743eed7b4cf479f57f1808fb35b974acd25897deca4865c5225d1ab229fe652c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-group-8 {
  min-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 30px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
  }

  .u-section-2 .u-image-1 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 65px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto;
}